@mixin button {
  margin-right: 10px;
  background-color: #901FA3;
  color: white;
  border: 1px solid #901FA3;
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
}
@mixin buttonHover {
  color: gold;
  border: 1px solid gold;
  cursor: pointer;
  transition: 0.75s ease-in-out;
}

body main #mainFifthSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    font-size: 40px;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

    li {
      color: white;
      margin: 20px 60px;
      font-size: 20px;
    }

    li:hover {
      color: #882898;
      cursor: pointer;
      transition: 0.7s;
    }
  }

  #mainFifthSectionSlider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 100px;
    .mainFifthSectionCard {
      margin: 5px;
      background-color: #281a2a;
      border: 1px solid #281a2a;
      border-radius: 20px;
      .mainFifthSectionCardInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mainFifthSectionCardInfoOne {
          margin-left: 10px;

          p:nth-child(1) {
            color: white;
            margin-top: 0;
          }

          p:nth-child(2) {
            color: white;
            opacity: 0.5;
            margin: 0;
          }

          span {
            color: #882898;
            font-size: 12px;
          }
        }

        .mainFifthSectionCardInfoTwo {
          margin-right: 10px;
          padding-top: 10px;

          button {
            color: white;
            border: 1px solid #882898;
            background-color: #281a2a;
            border-radius: 5px;
            padding: 5px;
          }

          p {
            color: white;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  #mainFifthSectionNav {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

    button {
      @include button
    }

    button:hover {
      @include buttonHover
    }

    span {
      color: white;
      font-size: 20px;
    }

    p {
      color: #882898;
      font-size: 20px;
      margin: 0 5px;
    }
  }


}