body {
  margin: 0;
  padding: 0;
  background-color: #1F1721;
  font-family: montserrat, sans-serif;
  }

@import 'header';
@import 'mainFirstSection';
@import 'mainSecondSection';
@import 'mainThirdSection';
@import 'mainFourthSection';
@import 'mainFifthSection';
@import 'mainSixthSection';
@import 'mainSeventhSection';
@import 'footer';
@import 'media';

